/*HEADER*/
header img {
    height: 80px;
    margin-left: 40px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    justify-content: space-between;
    z-index: 1;
}

header * {
    display: inline;
}

.MuiDrawer-paper {
    width: 50%;
}

.MuiSvgIcon-root {
    color: #000;
}

.drawer {
    text-align: left;
}


.header-burger-link a {
    display: flex;
    flex-direction: column;
}

.header-burger-link a,
.header-link a {
    margin: 20px;
    color: black;
    text-decoration: none;
}

/*BANNER*/
.u-section-2 {
    background-image: url('../../public/assets/images/banner.jpeg');
    background-position: 50% 50%;
    background-size: cover;
}

.u-section-2 .u-group-1 {
    display: flex;
    align-items: center;
    width: 549px;
    min-height: 501px;
    background-image: none;
    margin: 100px 0 0 20%;
}

.u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 4.5rem;
    margin: 0 auto 0 0;
    color: #f1c50e;
}

.u-section-2 .u-text-2 {
    font-style: normal;
    font-size: 1.25rem;
    margin: 20px auto 20px 0;
}

.u-section-2 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: 29px auto 0 0;
    color: #111111;
    background-color: #f1c50e;
}

.u-container-layout-1 {
    padding: 0 60px 30px;
    background: rgb(255 255 255 / 44%);
}

.u-container-input {
    display: flex;
    flex-direction: column;
    width: 275px;
}

.u-container-input-text {
    height: 30px;
    margin-bottom: 5px;
}

.u-input-button {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: 120px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    margin: 0.75rem 0;
}

.u-input-button {
    border: none;
    background: #f1c50e;
    color: #000;
}

.u-input-button:hover {
    border: 1px solid #f1c50e;
    background: rgba(255, 255, 255, 0.29);
    color: #f1c50e;
}

/*LIST*/

.list-title {
    font-weight: 700;
    font-size: 4.5rem;
    margin: 50px 100px;
    color: #f1c50e;
    text-align: center;
    font-family: 'Inter';
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
}

.button-redirect {
    text-decoration: none;
    color: #f1c50e;
}

/*FOOTER*/
.footer {
    position: relative;
    width: 100%;
    background: #f1c50e;
    min-height: 100px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-item {
    list-style: none;
}

.menu-link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu-link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

/*DETAILS*/
.layout-detail {
    height: 630px;
    width: 100%;
    margin: 100px 0;
}

.content-details {
    margin: 0 100px;
    background: rgb(255 255 255 / 81%);
    border-radius: 25px;
}

.content-details-features {
    background: rgb(255 255 255 / 81%);
    border-radius: 25px;
}

.content-wrapper-details {
    padding: 10px;
}

.harvestDate,
.plantationDate {
    display: flex;
}

/*CALENDRIER*/
.content-details-carousel {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.calendar {
    text-align: center;
}

.months {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.harvestDate,
.plantationDate {
    flex-direction: column;
}

.harvestDateTitle,
.plantationDateTitle {
    text-align: center;
}

.monthHarvestDate,
.monthPlantationDate {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.selected {
    background-color: #f1c50e;
    color: #000;
}

/*RESPONSIVE*/
@media screen and (max-width: 1440px) {
    /*BANNER*/
    .u-section-2 .u-group-1 {
        margin: 100px 0 0 60px;
    }
}

@media screen and (max-width: 768px) {
    /*HEADER*/
    header img {
        margin-left: 0;
    }

    /*BANNER*/
    .u-section-2 .u-group-1 {
        margin: 100px 0 0 0;
        width: 100%;
        justify-content: center;
    }

    .u-section-2 .u-text-1 {
        font-size: 3rem;
    }

    .u-section-2 .u-text-2 {
        font-size: 1rem;
    }

    .u-container-layout-1 {
        padding: 20px;
    }

    /*LIST*/
    .list-title {
        font-size: 3rem;
        margin: 30px 0;
    }

    .social-icon, .menu {
        padding: 0;
    }
}

